name: "Pull Request Labeler"

on:
  pull_request_target:
    types: [opened]
    branches: [main]

jobs:
  prerelease_labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
